html {
  color: #000;
  background: #FFF; }

.mbx {
  margin: 0;
  padding: 0;
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
  *font-size: small;
  *font: x-small;
  text-align: center; }
  .mbx div, .mbx dl, .mbx dt, .mbx dd, .mbx ul, .mbx ol {
    margin: 0;
    padding: 0; }
  .mbx li {
    margin: 0;
    padding: 0;
    list-style: none; }
  .mbx h1, .mbx h2, .mbx h3, .mbx h4, .mbx h5, .mbx h6 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal; }
  .mbx pre {
    margin: 0;
    padding: 0;
    font-family: monospace;
    *font-size: 108%;
    line-height: 100%; }
  .mbx code {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-family: monospace;
    *font-size: 108%;
    line-height: 100%; }
  .mbx form {
    margin: 0;
    padding: 0; }
  .mbx fieldset {
    margin: 0;
    padding: 0;
    border: 0; }
  .mbx legend {
    margin: 0;
    padding: 0;
    color: #000; }
  .mbx input, .mbx textarea {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%; }
  .mbx p, .mbx blockquote {
    margin: 0;
    padding: 0; }
  .mbx th {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    text-align: left; }
  .mbx td {
    margin: 0;
    padding: 0; }
  .mbx table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
    font: 100%; }
  .mbx img {
    border: 0; }
  .mbx address {
    font-style: normal;
    font-weight: normal; }
  .mbx caption {
    font-style: normal;
    font-weight: normal;
    text-align: left; }
  .mbx cite, .mbx dfn, .mbx em, .mbx strong, .mbx var {
    font-style: normal;
    font-weight: normal; }
  .mbx q:before, .mbx q:after {
    content: ''; }
  .mbx abbr, .mbx acronym {
    border: 0;
    font-variant: normal; }
  .mbx sup {
    vertical-align: text-top; }
  .mbx sub {
    vertical-align: text-bottom; }
  .mbx select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%; }
  .mbx kbd, .mbx samp, .mbx tt {
    font-family: monospace;
    *font-size: 108%;
    line-height: 100%; }
  .mbx #ft {
    clear: both; }
  .mbx #doc {
    margin: auto;
    text-align: left;
    width: 57.69em;
    *width: 56.301em;
    min-width: 750px; }
  .mbx #doc2 {
    margin: auto;
    text-align: left;
    width: 57.69em;
    *width: 56.301em;
    min-width: 750px;
    width: 73.074em;
    *width: 71.313em; }
  .mbx #doc3 {
    margin: auto;
    text-align: left;
    width: 57.69em;
    *width: 56.301em;
    min-width: 750px;
    margin: auto 10px;
    width: auto; }
    .mbx #doc3 .yui-gb .yui-u {
      *width: 31.9%; }
  .mbx #doc4 {
    margin: auto;
    text-align: left;
    width: 57.69em;
    *width: 56.301em;
    min-width: 750px;
    width: 74.923em;
    *width: 73.05em; }
  .mbx .yui-t1 {
    margin: auto;
    text-align: left;
    width: 57.69em;
    *width: 56.301em;
    min-width: 750px; }
    .mbx .yui-t1 #yui-main {
      float: right;
      margin-left: -25em; }
      .mbx .yui-t1 #yui-main .yui-b {
        margin-left: 13.30769em;
        *margin-left: 13.05em; }
    .mbx .yui-t1 .yui-b {
      float: left;
      width: 12.30769em;
      *width: 12.00em; }
  .mbx .yui-t2 {
    margin: auto;
    text-align: left;
    width: 57.69em;
    *width: 56.301em;
    min-width: 750px; }
    .mbx .yui-t2 #yui-main {
      float: right;
      margin-left: -25em; }
      .mbx .yui-t2 #yui-main .yui-b {
        margin-left: 14.8461em;
        *margin-left: 14.55em; }
    .mbx .yui-t2 .yui-b {
      float: left;
      width: 13.8461em;
      *width: 13.50em; }
  .mbx .yui-t3 {
    margin: auto;
    text-align: left;
    width: 57.69em;
    *width: 56.301em;
    min-width: 750px; }
    .mbx .yui-t3 #yui-main {
      float: right;
      margin-left: -25em; }
      .mbx .yui-t3 #yui-main .yui-b {
        margin-left: 24.0759em;
        *margin-left: 23.62em; }
    .mbx .yui-t3 .yui-b {
      float: left;
      width: 23.0759em;
      *width: 22.50em; }
  .mbx .yui-t4 {
    margin: auto;
    text-align: left;
    width: 57.69em;
    *width: 56.301em;
    min-width: 750px; }
    .mbx .yui-t4 #yui-main {
      float: left;
      margin-right: -25em; }
      .mbx .yui-t4 #yui-main .yui-b {
        margin-right: 14.8456em;
        *margin-right: 14.55em; }
    .mbx .yui-t4 .yui-b {
      float: right;
      width: 13.8456em;
      *width: 13.50em; }
  .mbx .yui-t5 {
    margin: auto;
    text-align: left;
    width: 57.69em;
    *width: 56.301em;
    min-width: 750px; }
    .mbx .yui-t5 #yui-main {
      float: left;
      margin-right: -25em; }
      .mbx .yui-t5 #yui-main .yui-b {
        margin-right: 19.4615em;
        *margin-right: 19.125em; }
    .mbx .yui-t5 .yui-b {
      float: right;
      width: 18.4615em;
      *width: 18.00em; }
  .mbx .yui-t6 {
    margin: auto;
    text-align: left;
    width: 57.69em;
    *width: 56.301em;
    min-width: 750px; }
    .mbx .yui-t6 #yui-main {
      float: left;
      margin-right: -25em; }
      .mbx .yui-t6 #yui-main .yui-b {
        margin-right: 24.0759em;
        *margin-right: 23.62em; }
    .mbx .yui-t6 .yui-b {
      float: right;
      width: 23.0759em;
      *width: 22.50em; }
  .mbx .yui-t7 {
    margin: auto;
    text-align: left;
    width: 57.69em;
    *width: 56.301em;
    min-width: 750px; }
    .mbx .yui-t7 #yui-main .yui-b {
      display: block;
      margin: 0 0 1em 0; }
  .mbx .yui-b {
    position: relative;
    _position: static; }
  .mbx #yui-main {
    width: 100%; }
    .mbx #yui-main .yui-b {
      position: static;
      float: none;
      width: auto; }
  .mbx .yui-g {
    zoom: 1; }
    .mbx .yui-g .yui-gb {
      float: right;
      width: 49.1%; }
      .mbx .yui-g .yui-gb .yui-u {
        float: left;
        margin-left: 1.99%;
        width: 32%;
        _margin-left: 1.0%;
        color: red; }
      .mbx .yui-g .yui-gb div.first {
        *margin-right: 0;
        *width: 32%;
        _width: 31.7%;
        margin-left: 0; }
    .mbx .yui-g .yui-gc {
      float: right;
      width: 49.1%; }
      .mbx .yui-g .yui-gc .yui-u {
        width: 32%;
        _float: right;
        margin-right: 0;
        _margin-left: 0;
        float: right; }
      .mbx .yui-g .yui-gc div.first {
        float: left;
        width: 66%; }
    .mbx .yui-g .yui-u {
      float: right;
      width: 49.1%; }
    .mbx .yui-g .yui-g {
      float: right;
      width: 49.1%; }
      .mbx .yui-g .yui-g .yui-u {
        width: 49%;
        *width: 48.1%;
        *margin-left: 0; }
      .mbx .yui-g .yui-g div.first {
        *margin: 0; }
    .mbx .yui-g .yui-gd {
      float: right;
      width: 49.1%; }
      .mbx .yui-g .yui-gd div.first {
        _width: 29.9%; }
    .mbx .yui-g .yui-ge {
      float: right;
      width: 49.1%; }
      .mbx .yui-g .yui-ge div.first {
        float: left; }
    .mbx .yui-g .yui-gf {
      float: right;
      width: 49.1%; }
    .mbx .yui-g div.first {
      float: left; }
  .mbx .yui-gb {
    zoom: 1; }
    .mbx .yui-gb .yui-g {
      float: left;
      margin-left: 1.99%;
      width: 32%; }
      .mbx .yui-gb .yui-g .yui-u {
        width: 49%;
        *width: 48.1%;
        *margin-left: 0; }
      .mbx .yui-gb .yui-g div.first {
        *margin-right: 4%;
        _margin-right: 1.3%;
        *margin-left: 0; }
    .mbx .yui-gb .yui-gb {
      float: left;
      margin-left: 1.99%;
      width: 32%; }
      .mbx .yui-gb .yui-gb .yui-u {
        *margin-left: 1.8%;
        _margin-left: 4%;
        _margin-left: .7%; }
      .mbx .yui-gb .yui-gb div.first {
        *margin-right: 0;
        *width: 32%;
        _width: 31.7%;
        *margin-left: 0; }
    .mbx .yui-gb .yui-gc {
      float: left;
      margin-left: 1.99%;
      width: 32%; }
      .mbx .yui-gb .yui-gc .yui-u {
        *margin-left: 1.8%;
        _margin-left: 4%;
        width: 32%;
        _float: right;
        margin-right: 0;
        _margin-left: 0; }
      .mbx .yui-gb .yui-gc div.first {
        *margin-right: 0;
        width: 66%;
        *float: left;
        *margin-left: 0; }
    .mbx .yui-gb .yui-gd {
      float: left;
      margin-left: 1.99%;
      width: 32%; }
      .mbx .yui-gb .yui-gd div.first {
        *margin-right: 0;
        *width: 31%;
        _width: 29.5%;
        width: 32%; }
      .mbx .yui-gb .yui-gd .yui-u {
        *width: 66%;
        _width: 61.2%; }
    .mbx .yui-gb .yui-ge {
      float: left;
      margin-left: 1.99%;
      width: 32%; }
      .mbx .yui-gb .yui-ge .yui-u {
        margin: 0;
        *width: 24%;
        _width: 20%; }
      .mbx .yui-gb .yui-ge div.yui-u {
        float: right; }
      .mbx .yui-gb .yui-ge div.first {
        float: left;
        *width: 73.5%;
        _width: 65.5%; }
    .mbx .yui-gb .yui-gf {
      float: left;
      margin-left: 1.99%;
      width: 32%; }
      .mbx .yui-gb .yui-gf .yui-u {
        margin: 0;
        *width: 73.5%;
        _width: 65.5%; }
      .mbx .yui-gb .yui-gf div.yui-u {
        float: right; }
      .mbx .yui-gb .yui-gf div.first {
        float: left;
        *width: 24%;
        _width: 20%; }
    .mbx .yui-gb .yui-u {
      float: left;
      margin-left: 1.99%;
      width: 32%; }
    .mbx .yui-gb div.first {
      margin-left: 0;
      float: left;
      margin-left: 0; }
  .mbx .yui-gc {
    zoom: 1; }
    .mbx .yui-gc .yui-u {
      float: left;
      margin-left: 1.99%;
      *margin-left: 1%;
      width: 32%;
      float: right; }
    .mbx .yui-gc .yui-g {
      float: left;
      margin-left: 1.99%;
      width: 32%; }
      .mbx .yui-gc .yui-g .yui-u {
        width: 49%;
        *width: 48.1%;
        *margin-left: 0;
        *width: 48.1%;
        *margin-left: 0; }
    .mbx .yui-gc div.first {
      float: left;
      margin-left: 0;
      width: 66%;
      *width: 65%; }
      .mbx .yui-gc div.first div.first {
        float: left; }
    .mbx .yui-gc .yui-gb div.first {
      width: 32%; }
  .mbx .yui-gd {
    zoom: 1; }
    .mbx .yui-gd .yui-u {
      float: left;
      margin-left: 1.99%;
      width: 32%;
      width: 66%; }
    .mbx .yui-gd .yui-g {
      float: right;
      width: 66%; }
      .mbx .yui-gd .yui-g .yui-u {
        width: 49%;
        *width: 48.1%;
        *margin-left: 0;
        *width: 48.1%;
        *margin-left: 0; }
    .mbx .yui-gd div.first {
      float: left;
      margin-left: 0;
      width: 32%; }
  .mbx .yui-ge {
    zoom: 1; }
    .mbx .yui-ge .yui-u {
      float: right;
      width: 24%; }
    .mbx .yui-ge .yui-g {
      float: right;
      width: 24%; }
      .mbx .yui-ge .yui-g .yui-u {
        width: 49%;
        *width: 48.1%;
        *margin-left: 0; }
    .mbx .yui-ge div.first {
      float: left;
      width: 74.2%; }
  .mbx .yui-gf {
    zoom: 1; }
    .mbx .yui-gf .yui-g {
      float: right;
      width: 74.2%; }
      .mbx .yui-gf .yui-g .yui-u {
        width: 49%;
        *width: 48.1%;
        *margin-left: 0; }
    .mbx .yui-gf .yui-u {
      float: right;
      width: 74.2%; }
    .mbx .yui-gf div.first {
      float: left;
      width: 24%; }
  .mbx #bd:after, .mbx .yui-g:after, .mbx .yui-gb:after, .mbx .yui-gc:after, .mbx .yui-gd:after, .mbx .yui-ge:after, .mbx .yui-gf:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .mbx #bd {
    zoom: 1; }
