.mbx form p {
  margin-bottom: 1em; }
.mbx form label {
  display: block;
  font-weight: bold; }
.mbx form textarea {
  width: 100%;
  font-family: "Courier New", Courier, monospace; }
.mbx form .submit {
  cursor: pointer;
  font-weight: bold;
  font-size: 167%;
  float: right; }
